*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
    background-color: #212121;
}
/*
nav{
    background: #080003;
    height: 12%;
    width: 100%;
}

label.logo{
    color: #ff7200;
    font-size: 40px;
    line-height: 100px;
    padding: 0 100px;
    font-weight: bold;
}*/
nav {
    background: #080003;
    height: 13%; /* Fixed height */
    width: 100%; /* Adjusted width to occupy 80% of the screen */
    margin: 0 auto; /* Center the nav bar horizontally */
}

label.logo {
    color: #ff7200;
    font-size: 4vw; /* Adjusted font size using percentage of viewport width */
    line-height: 80px; /* Adjusted line-height */
    padding: 0 2%; /* Adjusted padding */
    font-weight: bold;
}

nav ul {
    float: right;
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
    line-height: 80px; /* Adjusted line-height */
}

nav ul li {
    display: inline-block;
    margin: 0; /* Reset margin */
}

nav ul li a {
    color: white;
    font-size: 1.5vw; /* Adjusted font size using percentage of viewport width */
    border-radius: 5px;
    padding: 0 2%; /* Adjusted padding */
    line-height: 80px; /* Adjusted line-height */
}

a.active, a:hover {
    background: #ff7200;
    transition: .5s;
}

/*
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 20px;
    border-radius: 5px;
    
}
a.active,a:hover{
    background: #ff7200;
    transition: .5s;
}*/

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 5%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}
.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #ff7200;
    font-size: 65px
}
.thumbnail{
    position: relative;
    top: 10px;
    bottom: 20px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1.5);
}
.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
}
@media screen and (max-width: 678px) {
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content h2{
        font-size: 60px;
    }
    .arrows{
        top: 10%;
    }
}
nav ul {
    position: relative;
    display: flex;
    margin-right: auto;
}

nav ul li:not(:last-child) {
    margin-right: 30px;
}

nav ul li:last-child {
  /*  position: relative;*/
    margin-right: 40px;
}

nav ul li:last-child .profile {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px; /* Adjust the position from the right edge */
}

nav ul li:last-child .profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white; /* Set background color to white */
}


.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
  }
  .ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #6F86FF;
    
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
  }
  .ham-menu span:nth-child(1) {
    top: 25%;
  }
  .ham-menu span:nth-child(3) {
    top: 75%;
  }
  .ham-menu.active span {
    background-color: white;
  }
  .ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .ham-menu.active span:nth-child(2) {
    opacity: 0;
  }
  .ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  
    
    
  .wrapper{
      font-family: 'poppins',sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: #3e4e51;
  }
  .wrapper h1{
      font-size: 3em;
  
      margin: 25px;
  }
  .content-box{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 1000px;
      margin-top: 30px;
  }
  .card{
      min-height: 220px;
      width: 320px;
      padding: 30px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: #607d9a;
      margin: 10px 4px;
      box-shadow: 0px 15px 30px rgba(0,0,0,0.2);
  }
  .service {
      text-align: center; /* Center-align the content */
  }
  
  .image-container {
      width: 150px; /* Set the width of the container */
      height: 150px; /* Set the height of the container */
      overflow: hidden; /* Hide overflowing content */
      margin: 0 auto 20px; /* Add margin for spacing */
  }
  
  .image-container img {
      max-width: 100%; /* Ensure the image fits within the container */
      height: auto; /* Maintain aspect ratio */
  }
  
  .card i{
      margin: 20px;
      color: #581ed6;
  }
  .card h2{
      margin-bottom: 12px;
      font-weight: 400;
      text-align: center;
  }
  .card p{
      color: #6c757d;
      text-align: center;
  }
  .card:hover i,
  .card:hover p{
      color: #fff;
  }
  .card:hover h2{
      font-weight: 600;
  }
  .card:nth-child(1):hover{
      background: linear-gradient(45deg,
                                     rgba(88, 70, 159, 0.7) 0% ,
                                     rgba(136, 113, 199, 0.7)100% ) ,
                                      url('bg.jpg');
                                      background-size: cover;
  }
  .card:nth-child(2):hover{
      background: linear-gradient(45deg,
                                     rgba(88, 70, 159, 0.7) 0% ,
                                     rgba(136, 113, 199, 0.7)100% ) ,
                                      url('bg2.jpg');
                                      background-size: cover;
  }
  .card:nth-child(3):hover{
      background: linear-gradient(45deg,
                                     rgba(88, 70, 159, 0.7) 0% ,
                                     rgba(136, 113, 199, 0.7)100% ) ,
                                      url('bg3.jpg');
                                      background-size: cover;
  }
  .card:nth-child(4):hover{
      background: linear-gradient(45deg,
                                     rgba(88, 70, 159, 0.7) 0% ,
                                     rgba(136, 113, 199, 0.7)100% ) ,
                                      url('bg4.jpg');
                                      background-size: cover;
  }
  .card:nth-child(5):hover{
      background: linear-gradient(45deg,
                                     rgba(88, 70, 159, 0.7) 0% ,
                                     rgba(136, 113, 199, 0.7)100% ) ,
                                      url('bg5.jpg');
                                      background-size: cover;
  }
  .card:nth-child(6):hover{
      background: linear-gradient(45deg,
                                     rgba(88, 70, 159, 0.7) 0% ,
                                     rgba(136, 113, 199, 0.7)100% ) ,
                                      url('bg2.jpg');
                                      background-size: cover;
  }
  @media(max-width:991px){
      .wrapper{
          padding: 25px;
      }
      .wrapper h1{
          font-size: 2.5em;
          font-weight: 600;
      }
      .content-box{
          flex-direction: column;
          width: 100%;
      }
      .card{
          min-width: 300px;
          margin: 10px auto;
      }
  }
  
  